<!-- Pagina de controles -->
<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					Pacientes
					<i class="bi bi-people"></i>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					Atendimentos
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card">
				<div class="card-body">
					Acolhimentos
				</div>
			</div>
		</div>
	</div>
</div>