<form name='form1' action='controllerForm' method='post'>
	<input type="text" name="id" id='id' placeholder="Id">
	<input type="text" name="name" id='name' placeholder="Nome">
	<input type="text" name="name" id='name' placeholder="Nome">
	<input type="text" name="name" id='name' placeholder="Nome">
</form>