<!-- Lista de pacientes -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Sandlers</td>
      <td>12 anos</td>
      <td>11 90099-0099</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob Steel</td>
      <td>09 anos</td>
      <td>11 94450-9933</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry Bird</td>
      <td>06 anos</td>
      <td>11 99883-0044</td>
    </tr>
  </tbody>
</table>