<!-- Lista de Profissionais -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Profissão</th>
      <th scope="col">Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Robert San Marco</td>
      <td>Psicologo</td>
      <td>11 90399-5099</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jason Smith</td>
      <td>Fonoaudiologo</td>
      <td>11 94770-9923</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Laiz Benji</td>
      <td>Neuropsicopedagoga</td>
      <td>11 99333-7054</td>
    </tr>
  </tbody>
</table>